@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url("/images/Bill_Holmes_Tower_Exterior-lores.png");
    background-repeat: no-repeat;
    background-color: white;
}

.masthead {
    height: 120px;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 0;
    max-width: 40%;
}

.hamburger-menu {
    float: right;
    margin-right: 30px;
}

.main-menu {
    margin-top: 0px;
    background-color: #0164A3;
    padding: 40px;
    opacity: 0.95
}

.sub-menu {
    position: relative;
}

nav ul {
    color: white;
    margin: 0;
    padding: 0%;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: .4rem;
    position: relative;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav a:hover {
    font-weight: 800;
}
